body {
    margin: 0;
    padding: 0;
}

.card {
    /* margin-top: 100px; */
    height: 80vh;
    width: 40vw;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
}

.background-image {
    width: 100%;
    max-width: 600px;
}