@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.post-question {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 100vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    position: relative;
    height: 10px;
    top: -200px;
}

.post {
    margin-bottom: 50px;
    width: 100vw;
}

.main-page-container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 100px;
}

.post-background {
    background-image: --var(--background-image);
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;

}

.vote-results {
    text-align: center;
}

.vote-btns {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
}

.vote-btn {
    font-size: 50px;
    background-color: white;
    padding: 20px 25px;
    border-radius: 1000px;
}

.vote-btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.bi-hand-thumbs-up {
    color: green;
}

.bi-hand-thumbs-down {
    color: red;
}