.Comment {
    color: black;
    background-color: rgb(200, 200, 200);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
    top: -35px;
    left: 50px;
    max-width: 230px;
    word-break: break-all;
}

.Comment-Author {
    font-weight: bold;
}

.bi-caret-left {
    font-size: 30px;
}

.header-wrapper-comments {
    position: fixed;
    z-index: 1;
    background-color: #2A2A2A;
    width: 100vw;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 13px;
}

.bi-caret-right-fill {
    font-size: 40px;
}

.main-content-container-pollinfo {
    margin-top: 70px;
    margin-bottom: 70px;
}