.wrapper {
    max-width: 500px;
    margin: 80px auto;
    background-color: #555555;
    padding: 20px;
    border-radius: 20px;
}

.settings-headings {
    font-size: 30px;
    font-weight: bold;
}

.flex-xl-gap {
    gap: 100px;
}

.settings-details {
    font-size: 16px;
}

.settings-active {
    color: #6dd4c7;
}